$theme_color : #0ea9c5 ;
body.page-content {
   font-family: 'Montserrat', sans-serif;
   color: #535353;
   .list_columns {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
   }
   .nav__bar {
      header {
         ul {
            li.nav-item{
               .nav-link { 
                  font-weight: 700;
                  color: #535353;
                  &:hover {
                     color: $theme_color;
                  }
               }
               button {
                  border-radius: 0;
                  color: $theme_color;
                  border-color: $theme_color;
                  &:hover {
                     background-color: $theme_color;
                     color: #fff;
                  }
               }
            }
         }
      }
   }
   #banner {
      .header__cover {
         img {
            width: 100%;
         }
      }
   }
   .container.contents {
      .list__group {
         .list__title {
            h4 {
               background-color: $theme_color;
               color: #fff;
               border-radius: 50rem;
               font-weight: 800;
               width: fit-content;
               margin: 0 auto;
            }
         }
         ul {
            li {
               font-size: 1.2rem;
            }
         }
      }
   }
   .container.before-footer {
      img {
         width: 100%;
      }
   }
   footer {
      background-color: #3199cc;
      color: #fff;
      .footer.container {
         padding-left: 5em;
         padding-right: 5em;
         .row {
            ul {
               li.nav-item {
                  a.nav-link{
                     color: #fff;
                  }
               }
            }
         }
      }
      #scroll-to-top {
         display: none;
         position: fixed;
         bottom: 20px;
         right: 8%;
         z-index: 99;
         outline: none;
         background-color: #3199cc;
         color: #fff;
         border: 3px solid #fff;
         border-radius: 0;
         cursor: pointer;
         width: 3em;
         height: 3em;
         padding: 0;
      }
   }
}


@media (max-width: 991.99px) {
   body.page-content {      
      .container.contents {
         .list__group {
            .list__title {
               h4 {
                  font-size: 1.2em;
               }
            }
            ul {
               li {
                  font-size: 1.1rem;
               }
            }
         }
      } 
   }
}

@media (max-width: 767.99px) {
   body.page-content {  
      .container.nav__bar {
         max-width: 100%;
      }
      .container.before-footer {
         .d-flex.align-items-center {
            height: 14em;
            text-align: center;
         }
      }
      .container.contents {
         .list__group {
            .list__title {
               h4 {
                  font-size: .9em;
               }
            }
            ul {
               li {
                  font-size: .8rem;
               }
            }
         }
      } 
      footer {
         padding: 0 3em;
         .footer.container {
            padding-left: 0;
            padding-right: 0;
            .row {
               ul {
                  li.nav-item {
                     a.nav-link{
                        color: #fff;
                     }
                  }
               }
            }
         }
      }
   }   
} 

@media (max-width: 575.99px) {
   body.page-content { 
      .list_columns{
         columns: auto;
         -webkit-columns: auto;
         -moz-columns: auto;
      }
   }   
}
@media (max-width: 475.99px) {
   body.page-content { 
      .list_columns{
         columns: auto;
         -webkit-columns: auto;
         -moz-columns: auto;
      }
      footer {
         padding: 0 1em;
         .footer.container {
            .row {
               ul {
                  li.nav-item {
                     a.nav-link{
                     }
                  }
               }
            }
         }
      }
   } 
}